<ion-card class="list-header">
  <h1>ABOUT</h1>
</ion-card>

<p>CFB PICK6 is different from an ordinary fantasy football site. Instead of selecting individual players, each player selects six FBS D1 teams. The goal is to select the six teams who will win the most combined games.</p>

<h1>To create a free league, follow these easy steps:</h1>

<p>1. Create an account by accessing the profile icon. Click on the "Register" tab and enter required information.</p>
<img src="https://s3.us-east-2.amazonaws.com/cfbpick6.images/About+page/Screen+Shot+2020-09-12+at+12.26.12+AM.png">

<br>
<img src="https://s3.us-east-2.amazonaws.com/cfbpick6.images/About+page/Screen+Shot+2020-09-12+at+12.31.26+AM.png">
<br>
<p>2. To create a league, use the "My Leagues" tab and click on "Create New League." Fill out a clever league name and description.</p>
<img src="https://s3.us-east-2.amazonaws.com/cfbpick6.images/About+page/Screen+Shot+2020-09-12+at+12.50.35+AM.png">
<br><br>
<img src="https://s3.us-east-2.amazonaws.com/cfbpick6.images/About+page/Screen+Shot+2020-09-12+at+12.52.56+AM.png">
<br>
<br>
<p>3. Invite users by through the settings tab. Once there, search usernames in the "Invites" search box.</p>
<img src="https://s3.us-east-2.amazonaws.com/cfbpick6.images/About+page/Screen+Shot+2020-09-12+at+12.53.21+AM.png">
<img src="https://s3.us-east-2.amazonaws.com/cfbpick6.images/About+page/Screen+Shot+2020-09-12+at+1.02.07+AM.png">

<br>
<br>
<p>4. Check invite status under "Squads" on the league homepage. When everyone has accepted and is ready to draft, select "Create Draft" under settings. Users can accept league invites under the profile tab.</p>
<img src= "https://s3.us-east-2.amazonaws.com/cfbpick6.images/About+page/Screen+Shot+2020-09-12+at+1.07.35+AM.png">
<img src="https://s3.us-east-2.amazonaws.com/cfbpick6.images/About+page/Screen+Shot+2020-09-12+at+1.08.14+AM.png">
<br>
<br>
<p>5. Enter the draft lobby and choose your squad wisely. Once the draft is complete, you and your six are ready to compete for the crown!</p>
<img src="https://s3.us-east-2.amazonaws.com/cfbpick6.images/About+page/Screen+Shot+2020-09-12+at+1.09.21+AM.png">
