<ion-list>
    <ion-item>
      <ion-list-header>
        <h1>SORT</h1>
      </ion-list-header>
    </ion-item>
    <ion-item button="true" detail="false">
      <ion-label (click)="close('school')">Name</ion-label>
    </ion-item>
    <ion-item button="true" detail="false">
      <ion-label (click)="close('wins')">Wins</ion-label>
    </ion-item>
    <ion-item button="true" detail="false">
      <ion-label (click)="close('proj')">Projected</ion-label>
    </ion-item>
    <ion-item button="true" detail="false">
      <ion-label (click)="close('fpi')">ESPN FPI</ion-label>
    </ion-item>
</ion-list>
